Read data from file

In [1]:
import pandas as pd

# Read the file line by line
file_path = r'C:\Users\PC1\Desktop\200k_comments.csv'

# Detect file format chứa symbol special , k thể dùng pandas để read_csv một cách bình thường, sẽ xảy ra trường hợp skip row 
# -> apply approach read line by line from file 

data = []
with open(file_path, 'r', encoding='utf-8') as file:
    for line in file:
        data.append(line.strip().split('\n'))

In [2]:
# check all record are read
print(f'Number of rows count in file: {len(data)}/236100')

Number of rows count in file: 236100/236100

In [3]:
# convert list to DataFrame and rename cols
df = pd.DataFrame(data)
df.columns = ['comments']
df.head()

                                            comments
0  Xong rồi mong 2 vc mời kiểm toán vào để “cộng ...
1  Thương chị !!!!! Em tin chị !!!! Cảm ơn chị !!...
2                                 Chuẩn rồi a tin em
3              End of season sale giảm 70% anh em ơi
4  Kiện bằng mọi giá. Cho những kẻ vu khống bôi n...

In [4]:
# xử lý text
# function to handle error when 
# 1. convert text
# 2. lower() text

def convert_unidecode(text):
    from unidecode import unidecode
    error_list = []
    try:
        return unidecode(text).lower()
    except Exception as e:
        error_list.append(text)

In [5]:
# add new column to convert Unicode text -> ascii text
df['ascii_comments'] = df['comments'].apply(convert_unidecode)

In [6]:
list_key_words = ['vc','thuy tien','cong vinh', 'bao lu','cong vien thuy tinh','mien trung','tu thien','vo chong']
kw_cols = []
for i in list_key_words:
    i = i.replace(' ','_')
    kw_cols.append('kw_' + i)

kw_cols

['kw_vc',
 'kw_thuy_tien',
 'kw_cong_vinh',
 'kw_bao_lu',
 'kw_cong_vien_thuy_tinh',
 'kw_mien_trung',
 'kw_tu_thien',
 'kw_vo_chong']

In [7]:
import numpy as np

for i in range(len(list_key_words)):
    print(f'Xử lý {kw_cols[i]}')
    # break
    # xử lý column keyword
    df[kw_cols[i]] = np.where(df['ascii_comments'].str.contains(list_key_words[i], na = False) , kw_cols[i], '')

Xử lý kw_vc
Xử lý kw_thuy_tien
Xử lý kw_cong_vinh
Xử lý kw_bao_lu
Xử lý kw_cong_vien_thuy_tinh
Xử lý kw_mien_trung
Xử lý kw_tu_thien
Xử lý kw_vo_chong

In [8]:
#check portition keywords:

for i in range(len(list_key_words)):
    cols_name = kw_cols[i]
    total_line = len(df)
    kw_line = len(df[df[kw_cols[i]]== kw_cols[i]])
    print(f'Columns {cols_name} have value "{cols_name}" : portition {( kw_line / total_line * 100)}, with {kw_line} LINES IN {total_line}')

Columns kw_vc have value "kw_vc" : portition 0.7992376111817027, with 1887 LINES IN 236100
Columns kw_thuy_tien have value "kw_thuy_tien" : portition 5.0156713257094445, with 11842 LINES IN 236100
Columns kw_cong_vinh have value "kw_cong_vinh" : portition 0.7501058873358746, with 1771 LINES IN 236100
Columns kw_bao_lu have value "kw_bao_lu" : portition 0.11859381617958492, with 280 LINES IN 236100
Columns kw_cong_vien_thuy_tinh have value "kw_cong_vien_thuy_tinh" : portition 0.002964845404489623, with 7 LINES IN 236100
Columns kw_mien_trung have value "kw_mien_trung" : portition 0.6721728081321474, with 1587 LINES IN 236100
Columns kw_tu_thien have value "kw_tu_thien" : portition 0.962304108428632, with 2272 LINES IN 236100
Columns kw_vo_chong have value "kw_vo_chong" : portition 1.2744599745870393, with 3009 LINES IN 236100

In [9]:
df.head(3)

,comments,ascii_comments,kw_vc,kw_thuy_tien,kw_cong_vinh,kw_bao_lu,kw_cong_vien_thuy_tinh,kw_mien_trung,kw_tu_thien,kw_vo_chong
0,Xong rồi mong 2 vc mời kiểm toán vào để “cộng ...,"xong roi mong 2 vc moi kiem toan vao de ""cong ...",kw_vc,,,,,,,
1,Thương chị !!!!! Em tin chị !!!! Cảm ơn chị !!...,thuong chi !!!!! em tin chi !!!! cam on chi !!...,,,,,,,,kw_vo_chong
2,Chuẩn rồi a tin em,chuan roi a tin em,,,,,,,,

In [11]:
# combined rows
df['combined_row'] = df[kw_cols].apply(lambda row: ' '.join(row.values.astype(str)), axis=1)
df['combined_row'] = df['combined_row'].str.strip()
df['combined_row'] = df['combined_row'].str.replace(' ','0')
df.head(2)

,comments,ascii_comments,kw_vc,kw_thuy_tien,kw_cong_vinh,kw_bao_lu,kw_cong_vien_thuy_tinh,kw_mien_trung,kw_tu_thien,kw_vo_chong,combined_row
0,Xong rồi mong 2 vc mời kiểm toán vào để “cộng ...,"xong roi mong 2 vc moi kiem toan vao de ""cong ...",kw_vc,,,,,,,,kw_vc
1,Thương chị !!!!! Em tin chị !!!! Cảm ơn chị !!...,thuong chi !!!!! em tin chi !!!! cam on chi !!...,,,,,,,,kw_vo_chong,kw_vo_chong

In [12]:
def modified_string(string):
    import re
    modified_string = re.sub(r'0+', ',', string)
    return modified_string

In [13]:
df['combined_row'] = df['combined_row'].apply(modified_string)

In [14]:
def count_str(text):
    if 'kw' in text:
        from collections import Counter
        text = text.replace(',' , ' ')
        text = text.replace('_' , ' ')
        text_to_list = text.split()
        text_to_dict = dict(Counter(text_to_list))

        return int(text_to_dict['kw'])
    else:
        return 0
# count_str('')

0

In [15]:
#add relate_points columns to check if points of line 
df['relate_points'] = df['combined_row'].apply(count_str)

In [17]:
df.tail(1)
df.columns

Index(['comments', 'ascii_comments', 'kw_vc', 'kw_thuy_tien', 'kw_cong_vinh',
       'kw_bao_lu', 'kw_cong_vien_thuy_tinh', 'kw_mien_trung', 'kw_tu_thien',
       'kw_vo_chong', 'combined_row', 'relate_points'],
      dtype='object')

In [19]:
df1 = df[['comments','ascii_comments','combined_row', 'relate_points']]
df1.to_excel('output_to_db.xlsx')

In [20]:
# output to file 
df.to_excel('output_raw.xlsx')

In [ ]:
# write to postgre | mysql | mongodb

In [ ]:
# unit testing
# check random 1 keyword